---
layout: page
title: Contact
permalink: /contact/
---


<table>
    <tr>
        <td>Email:</td>
        <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
    </tr>
    <tr>
        <td>Company name:</td>
        <td>JorAI B.V.</td>
    </tr>
    <tr>
        <td>Chamber of Commerce:&nbsp;</td>
        <td>84638729</td>
    </tr>
    <tr>
        <td>VAT ID:</td>
        <td>NL863292574B01</td>
    </tr>
{% if site.linkedin_username %}
    <tr>
        <td>LinkedIn:</td>
        <td>{% include icon-linkedin.html user=site.linkedin_name %}</td>
    </tr>
{% endif %}

{% if site.github_username %}
    <tr>
        <td>GitHub:</td>
        <td>{% include icon-github.html username=site.github_username %}</td>
    </tr>
{% endif %}

</table>

