.project-block {
    text-align: center;
    text-decoration: none;
    width: 220px;
    height: 200px;
    border: solid 1px lightgray;
    box-shadow: 4px 4px 8px #888888;
    display: block;
    margin-bottom: 10px;
}

.project-block-title {
    width: 220px;
    height: 50px;
}

.project-block-image {
    width: 217px;
    height: 145px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 217px 145px;
}
