---
layout: default
---

<div style="text-align: center">
    <img src="/assets/img/jori-van-lier-circle.png"/>
    <h1 style="margin-bottom: 0px">Jori van Lier</h1>
    <h2 style="margin-bottom: 6px">Freelance Data Scientist / Machine Learning Engineer </h2>
    <h4 style="margin-bottom: 4px">Operating in Amsterdam - The Hague - Rotterdam area in The Netherlands</h4>
    <h4>Current status: available in April 2020</h4>

</div>

<article class="post">

    <header class="post-header">
        <h1 class="post-title" >{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

</article>
