---
layout: default
---
<h1 class="post-title">{{ page.title | escape }}</h1>
<div class="row" style="margin-top: 60px">
    {% assign sortedProjects = site.projects | sort: 'to' %}
    {% for item in sortedProjects reversed %}
        {% assign yearFrom = item.from | date: "%Y" %}
        {% assign yearTo = item.to | date: "%Y" %}
        <div class="col-md-4">
            <a href="{{ item.url | relative_url }}" class="project-block">

                <div class="project-block-title">
                    {{ item.title }}
                    <small>({{ yearFrom }}{% if yearFrom != yearTo %}-{{ yearTo }}{% endif %})</small>
                </div>

                <div class="project-block-image"
                     style="background-image: url('/assets/img/{{ item.id }}-thumb.png')">
                </div>




            </a>
        </div>
    {% endfor %}
</div>
