---
layout: default
---

<h1 class="post-title">{{ page.title | escape }}</h1>

<ul class="timeline">
{% assign sortedProjects = site.projects | sort: 'to' %}
    {% for item in sortedProjects reversed %}
        {% assign timeFrom = item.from | date: "%b-%Y" %}
        {% assign timeTo = item.to | date: "%b-%Y" %}
            <li>
                <strong>{{ item.title }}</strong>
                <span style="float: right">
                    {{ timeFrom }}
                    {% if timeFrom != timeTo %} &ndash; {{ timeTo }}{% endif %}
                </span>
                <div style="margin-bottom: 8px">{{ item.client }}</div>
                <div>
                    {{ item.content }}
                </div>
                <div style="color: #0155A3; font-size: 90%">
                    <strong>Tech:</strong> {{ item.tech }}
                </div>
            </li>
    {% endfor %}
</ul>

