---
layout: default
---
<h1 class="post-title">{{ page.title | escape }}</h1>
<p>
    This page contains a high level overview of the projects I've completed. I'm currently working through a backlog of
    projects from the period 2014 - 2017, so expect more content soon!
</p>
<br/>

<div class="row">
    {% assign sortedProjects = site.projects | sort: 'to' %}
    {% for item in sortedProjects reversed %}
        {% assign yearFrom = item.from | date: "%Y" %}
        {% assign yearTo = item.to | date: "%Y" %}
        <div class="col-md-4">
            <a href="{{ item.url | relative_url }}" class="project-block">

                <div class="project-block-title">
                    {{ item.title }}
                    <small>({{ yearFrom }}{% if yearFrom != yearTo %}-{{ yearTo }}{% endif %})</small>
                </div>

                <div class="project-block-image"
                     style="background-image: url('/assets/img/{{ item.id }}-thumb.png');">
                </div>




            </a>
        </div>
    {% endfor %}
</div>
